{% extends 'base.html' %}

{% block content %}

<!-- Obiectul perms este pus automat in toate templateurile -->
<!-- El contine permisiunile userului care acceseaza pagina -->
<!-- Sintaxa pentru a ne folosi de el: -->
<!-- perms.numeapp.actiune_numemodel -->
<!-- unde actiune este: add, change, delete, view -->

{% if perms.viewer.add_movie %}
    <a href="{% url 'movie_create' %}" class="btn btn-primary">Add new</a>
{% else %}
    <p>Nu poti adauga un film nou.</p>
{% endif %}

<h1>All movies</h1>
<ul>
<!-- Daca folosim un ListView variabila care contine lista de filme -->
<!-- Sa va numi object_list -->
{% for movie in object_list %}
  <li>
      <a href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a>
  </li>
{% endfor %}
</ul>

{% endblock %}
