{% extends 'base.html' %}

{% block content %}

<!-- Daca folosim un DetailView numele variabilei care contine datele -->
<!-- va fi object -->
<h1>{{ object.title }}</h1>
<p>Genre: {{ object.genre.name }}</p>
<p>Released: {{ object.released }}</p>
<p>Rating: {{ object.rating }}</p>
<p>Description: {{ object.description }}</p>
<p>Added to site at {{ object.created }}</p>

{% if perms.viewer.change_movie %}
<a href="{% url 'movie_update' object.pk %}" class="btn btn-warning">
    Edit
</a>
{% else %}
<a href="#" class="btn btn-warning disabled">
    Edit
</a>
{% endif %}

{% if perms.viewer.delete_movie %}
<a href="{% url 'movie_delete' object.pk %}" class="btn btn-danger">
    Delete
</a>
{% else %}
<a href="#" class="btn btn-danger disabled">
    Delete
</a>
{% endif %}

{% endblock %}
